.postWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 550px;
    gap: 25px;
    position: relative;
}

.postBoxSingle {
    width: 100%;
    padding: 10px;
    max-height: 800px;
    background: rgb(45, 45, 45);
    border-radius: 4px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
}

.postBoxSingle img {
    width: 90%;
    border-radius: 6px;
    height: 80%;
    object-fit: cover;
}

.postBoxSingle h3,
.postBoxSingle p {
    text-align: left;
    padding: 0 10px;
}

.postBoxSingle h3 {
    margin: 12px 0 12px 0;
    width: 95%;
    border-bottom: 2px solid rgb(255, 255, 255);
}

.postBoxSingle p {
    font-weight: 300;
    padding-left: 16px;
    width: 100%;
}

/**************************************/
/* Responsive */
@media screen and (max-width: 878px){

    .postWrapper {
        display: flex;
        flex-direction: column;
    }

    .postBoxSingle {
        max-height: 900px;
    }

    .postBoxSingle img {
        height: 400px;
    }

    .postBoxSingle p {
        padding-bottom: 30px;
    }

}
