/* Main Container */
.mainContainer {
    margin: 0 auto;
}

/* Main */
.main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: 100vh;
}

.main > h2 {
    font-weight: 400;
    margin-bottom: 15px;
}
