footer{
    width: 100%;
    padding: 20px;
    background: transparent;
}

.footerContainer{
    margin: 0 auto;
    padding: 0 2%;
    max-width: 1280px;
    display: grid;
    place-items: center;
}

.footerContainer p{
    font-size: 17px;
    font-weight: 300;
    color: white;
    text-align: center;
}
